body{
    background-color: rgb(27, 31, 39);
}

header h1{
    font-size: 7vw;
    text-align: center;
    margin: 0.2em;   
    color: #DFD9CF;
}

    header h2{
        font-size: 3vw;
        text-align: center;
        color: #DFD9CF;
    }

        header h3{
            font-size: 2vw;
            text-align: center;
            color: #DFD9CF;
        }

.image{
    text-align: center;
    margin: 2.5%
}
    .image img{
        width: 75%;
        border-radius: 20px;
    }

.image2{
    text-align: center;
    background-color:#DFD9CF;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 20px;
}
    .image2 img{
        padding: 5px;
        width: 16%;
        border-radius: 20px;
    }

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFD9CF;   
    border-radius: 20px;
}

        .box img{
            width: 20%;
            border-radius: 40px;
            background-image: #BD8C7E;
            margin:2%;
        }

.box2{
    padding: 1%;
    background-color: #ab7836;
    border-radius: 20px;
    margin-bottom:2%;
    margin-left:7%;
    margin-right:7%;
    max-height: 1000px;
    
}
    .box2 h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3vw;
        color: #DFD9CF;
    }

        .box2 p{
            color: rgb(27, 31, 39);
        }

footer{
    padding: 1%;
    text-align: center;
    background-color: #DFD9CF;
    color:#1B1F27;
    font-size: 1vw;
}
